.block{
    display: grid;
}
.val{
    font-size: 3rem;
}
.text{
    text-transform: uppercase;
    letter-spacing: 2px;
}
.colon{
    font-size: 3rem;
    padding-bottom: 2rem;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}