.main{
    color: white;
    background-position: bottom;
}
.userip{
    text-transform: initial;
    letter-spacing: 1px;
    font-size: 12px;
}
.title{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    margin-left: 30%;
}
.fav{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    margin-left: 45%;
}
.addicon{
    transform: rotate(45deg);
    cursor: pointer;
    background-color: red;
}
.block{
    display: grid;
}
.val{
    font-size: 3rem;
}
.text{
    text-transform: uppercase;
    letter-spacing: 2px;
}
.colon{
    font-size: 3rem;
    padding-bottom: 2rem;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
.refreshtz{
    cursor: pointer;
    margin-left: 70%;
    margin-top: 53%;
}
.loc-icon{
    --lwc-colorTextIconDefault: white;
}
.degree{
    font-size: 12px;
    font-family: -webkit-body;
    vertical-align: text-top;
}
/* AM/PM */
.meridiem{
    margin-top: 9%;
}
/* 12/24 */
.textInput{
    -webkit-text-fill-color: white;
}
/* CSS to apply screens which are below 500px */
@media screen and (max-width: 480px){
    .fav{
        margin-left: 28%;
    }
}
.box{
    border-radius: 10px;
    background-color: #faf59b;
    padding: 15px;
    width: 148px;
    height: 148px;
    display: inline-block;
    margin: 3px;
    font-size: 15px;
    text-align: center; 
}
.completed{
    background-color: #aafac3;
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
    width: 463px;
}