.main{
    color: white;
    background-position: bottom;
}
.userip{
    text-transform: initial;
    letter-spacing: 1px;
    font-size: 12px;
}
.title{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    margin-left: 28%;
}
.block{
    display: grid;
}
.val{
    font-size: 3rem;
}
.text{
    text-transform: uppercase;
    letter-spacing: 2px;
}
.colon{
    font-size: 3rem;
    padding-bottom: 2rem;
}
.refreshtz{
    cursor: pointer;
    margin-left: 70%;
    margin-top: 53%;
}
/* AM/PM */
.meridiem{
    margin-top: 9%;
}
/* fav tz */
[data-status='heart'] {
	width: 2rem;
    animation: pulse 1s linear infinite;
	transform-origin: center;
}
@keyframes pulse{
    0%{transform:scale(1);}
    40%{transform:scale(1.3);}
    100%{transform:scale(1);}
}
/* 12/24 */
.textInput{
    -webkit-text-fill-color: white;
}
/* CSS to apply screens which are above 500px and below 1025px*/
@media (min-width: 850px) and (max-width: 1025px){
    .refreshtz{
        margin-left: 85%;
        margin-top: 27%;
    }
}
/* CSS to apply screens which are above 500px and below 1025px*/
@media (min-width: 480px) and (max-width: 850px){
    .refreshtz{
        margin-left: 85%;
        margin-top: 27%;
    }
}
/* CSS to apply screens which are below 500px */
@media screen and (max-width: 480px){
    .refreshtz{
        margin-left: 0%;
        margin-top: 95%;
    }
}